<body>
  <main class="main">
    <h3 class="title">Characters</h3>
    <div *ngIf="characterList" class="characterlist">
      <div *ngFor="let character of characterList" class="characters">
        <h4 class="namelist">{{ character.name }}</h4>
        <img [src]="character.image" [alt]="character.name">
      </div>
    </div>
  </main>


</body>