<header class="header">
    <nav class="header-nav">
        <ul class="list">
            <li>
                <img class="logo" src="../../../assets/imgheader.png">
            </li>
            <li class="list-item" *ngFor="let items of headerNavigation">
                <p [routerLink]="[items.path]">{{items.name}}</p>
            </li>
           
        </ul>
    </nav>
</header>