
.header{
    height: 80px;
    width: 100%;
}
.header-nav{
    height: 100%;
}
.list{
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: space-evenly;
}
.logo{
    height: 100%;
    margin-right: 700px;
}
.list-item{
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: oblique;
    color: rgb(74, 103, 156);
}