

.main{
    background: radial-gradient(rgb(202, 211, 190), transparent);

}
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
    font-weight: 700;
    color:rgba(105, 85, 19, 0.637);
    text-align: center;
}
.box{
    width: 980px;
    text-align: center;
    margin-left: 200px;
    padding: 5px 5px;
}
.p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: rgb(133, 118, 99);
}
.boximg{
    width: 650px;
    height: 480px;
    margin-left: 250px;
}
.img{
    width: 100%;
}
